In [1]:
x = c(5, 7, 9, 13, -4, 8)

In [2]:
rep(8, length(x))

[1] 8 8 8 8 8 8

In [3]:
x>rep(8, length(x))

[1] FALSE FALSE  TRUE  TRUE FALSE FALSE

In [4]:
sum(x>8)

[1] 2

In [5]:
x>8

[1] FALSE FALSE  TRUE  TRUE FALSE FALSE

In [6]:
largerthan8=x[x>8]
largerthan8

[1]  9 13

In [7]:
A=matrix(x,2,3)

In [8]:
A

     [,1] [,2] [,3]
[1,] 5     9   -4
[2,] 7    13    8

In [9]:
is.matrix(A)

[1] TRUE

In [10]:
A[1,1]

[1] 5

In [11]:
A[0,1]

numeric(0)

In [13]:
y=rep(11,length(x))
y

[1] 11 11 11 11 11 11

In [14]:
ds=data.frame(x,y)
ds

  x  y
1  5 11
2  7 11
3  9 11
4 13 11
5 -4 11
6  8 11

In [15]:
 is.data.frame(ds)

[1] TRUE

In [16]:
ds$x[3]

[1] 9

In [17]:
ds$y[3]

[1] 11

In [18]:
mean(ds)

Warning message in mean.default(ds):
"argument is not numeric or logical: returning NA"

[1] NA

In [19]:
lapply(ds,mean)

$x
[1] 6.333333

$y
[1] 11

In [21]:
print(lapply(ds,sd))

$x
[1] 5.715476

$y
[1] 0

In [24]:
newmat=cbind(x,y)
newmat

     x  y
[1,]  5 11
[2,]  7 11
[3,]  9 11
[4,] 13 11
[5,] -4 11
[6,]  8 11

In [25]:
class(newmat)

[1] "matrix"

In [26]:
objects()

[1] "A"           "ds"          "largerthan8" "newmat"      "x"
[6] "y"

In [27]:
ls()

[1] "A"           "ds"          "largerthan8" "newmat"      "x"
[6] "y"

In [29]:
summary(x)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 -4.000   5.500   7.500   6.333   8.750  13.000

In [30]:
attributes(A)

$dim
[1] 2 3

In [31]:
summary(A)

       V1            V2           V3
 Min.   :5.0   Min.   : 9   Min.   :-4
 1st Qu.:5.5   1st Qu.:10   1st Qu.:-1
 Median :6.0   Median :11   Median : 2
 Mean   :6.0   Mean   :11   Mean   : 2
 3rd Qu.:6.5   3rd Qu.:12   3rd Qu.: 5
 Max.   :7.0   Max.   :13   Max.   : 8

In [34]:
typeof(A)

[1] "double"

In [35]:
typeof(x)

[1] "double"

In [37]:
vals=rnorm(1000)
quantile(vals)

          0%          25%          50%          75%         100%
-3.583208202 -0.641069847  0.008345619  0.611044488  3.117140901

In [38]:
quantile(vals, c(.025, .975))

     2.5%     97.5%
-2.154630  1.746866

In [39]:
res=quantile(vals, c(.025, .975))
res[1]

    2.5%
-2.15463

In [42]:
# calculate a t confidence interval for a mean
ci.calc = function(x, ci.conf=.95) {
    sampsize = length(x)
    tcrit = qt(1-((1-ci.conf)/2), sampsize-1)
    mymean = mean(x)
    mysd = sd(x)
    return(list(civals=c(mymean-tcrit*mysd/sqrt(sampsize),
            mymean+tcrit*mysd/sqrt(sampsize)),
            ci.conf=ci.conf))
}

In [41]:
ci.calc(x)

$civals
[1]  0.6238723 12.0427943

$ci.conf
[1] 0.95

In [43]:
ci.calc(x)

$civals
[1]  0.3353091 12.3313576

$ci.conf
[1] 0.95

In [44]:
# calculate a t confidence interval for a mean
'''ci.calc = function(x, ci.conf=.95) {
    sampsize = length(x)
    tcrit = qt(1-((1-ci.conf)/2), sampsize)
    mymean = mean(x)
    mysd = sd(x)
    return(list(civals=c(mymean-tcrit*mysd/sqrt(sampsize),
            mymean+tcrit*mysd/sqrt(sampsize)),
            ci.conf=ci.conf))
}'''
#importante el detalle del tamaño muestral el cual en el caso de la dsitribucón t student
#va a ser modificado a 
#la hora de calcular los cuantiles por n-1

In [45]:
lci = ci.calc(x)$civals[1]

In [46]:
lci

[1] 0.6238723

In [47]:
apply(ds,2, mean)#media por columnas

        x         y
 6.333333 11.000000

In [48]:
apply(ds,1, mean)#media por filas

[1]  8.0  9.0 10.0 12.0  3.5  9.5

In [49]:
ds

  x  y
1  5 11
2  7 11
3  9 11
4 13 11
5 -4 11
6  8 11

In [51]:
library(read1)

ERROR: Error in library(read1): there is no package called 'read1'

In [52]:
require(packagename)

Loading required package: packagename
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'packagename'"

In [53]:
 library(help="libraryname"))

ERROR: Error in parse(text = x, srcfile = src): <text>:1:29: inesperado ')'
1:  library(help="libraryname"))
                                ^

In [54]:
library(Hmisc)

ERROR: Error in library(Hmisc): there is no package called 'Hmisc'

In [59]:
install.packages("Hmisc")

also installing the dependencies 'survival', 'Formula', 'latticeExtra', 'gridExtra', 'htmlTable', 'viridis'

  There is a binary version available but the source version is later:
          binary source needs_compilation
htmlTable  2.1.0  2.2.1             FALSE

package 'survival' successfully unpacked and MD5 sums checked
package 'Formula' successfully unpacked and MD5 sums checked
package 'latticeExtra' successfully unpacked and MD5 sums checked
package 'gridExtra' successfully unpacked and MD5 sums checked
package 'viridis' successfully unpacked and MD5 sums checked
package 'Hmisc' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Joshua\AppData\Local\Temp\Rtmp8SrS11\downloaded_packages

installing the source package 'htmlTable'

In [60]:
library(Hmisc)

Warning message:
"package 'Hmisc' was built under R version 3.6.3"Loading required package: lattice
Loading required package: survival
Warning message:
"package 'survival' was built under R version 3.6.3"Loading required package: Formula
Warning message:
"package 'Formula' was built under R version 3.6.3"Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Attaching package: 'Hmisc'

The following objects are masked from 'package:base':

    format.pval, units

In [61]:
#Example
set.seed(1)         # so can regenerate results
x1 <- rnorm(100)
x2 <- rnorm(100)
y  <- exp(x1+x2+rnorm(100))
f <- lm(log(y) ~ x1 + poly(x2,3), y=TRUE)
abs.error.pred(lp=exp(fitted(f)), y=y)
rm(x1,x2,y,f)

Mean/Median |Differences|

                             Mean    Median
|Yi hat - median(Y hat)| 1.983447 0.8651185
|Yi hat - Yi|            2.184563 0.5436367
|Yi - median(Y)|         2.976277 1.0091661


Ratios of Mean/Median |Differences|

                                               Mean    Median
|Yi hat - median(Y hat)|/|Yi - median(Y)| 0.6664189 0.8572607
|Yi hat - Yi|/|Yi - median(Y)|            0.7339920 0.5386989